{% extends "booklist_main/base.html" %}

{% block content %}
    <a class="btn btn-success mb-3" href="{% url 'add_book' %}">➕ Добавить книгу</a>
    {% if books %}
        <ul class="list-group">
            {% for book in books %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ book.title }} — {{ book.author }}
                    <a class="btn btn-sm btn-danger" href="{% url 'delete_book' book.id %}">Удалить</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Список книг пуст.</p>
    {% endif %}
{% endblock %}
